<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <ul>
    <% events.each do |event| %>
      <li>
        <%= format_time_short event.start_time %>
        <%= event.name %>
      </li>
    <% end %>
  </ul>
<% end %>
