<div>
  <div class='home-container home-columns container container-full-width majority-title'>
    <h1>Majority</h1>
  </div>
</div>
<div id='majority-homepage-full' >
  <div class='home-container container container-full-width'>
    <div class='centered-content'>
      <p>
        Read Majority, news for the East Bay's diverse working class, published by East Bay DSA!
      </p>
      <%= link_to 'https://eastbaymajority.com', class: 'button button-primary cta-expanded' do %>
        Read Majority &#8594;
      <% end %>
    </div>
  </div>
</div>
