<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Fight the Billionaires - Fund East Bay DSA’s Oakland Teacher Strike Support</h1>
</div>

<div id="donate">
  <div class='donate-left'>
    <p>Support the socialist movement by contributing to East Bay DSA! This spring, we’re going all-in for Oakland teachers as they fight for smaller class sizes, more supports for students, and a living wage for teachers.</p>

    <p>Your one-time or monthly contribution will go toward coffee, signs, and more for teachers and East Bay DSA members on the picket line if and when Oakland teachers strike. It also helps us pay for the online tools we use to call, text, and email members to turn them out.</p>

    <p>We're a democratic organization run and funded by our members. Whether it's canvassing, membership meetings, our office and staff, or educational events, your support makes our organizing possible.</p>

    <p><em>We are a 501(c)(4) organization so your donation is not tax-deductible.</em></p>
  </div>

  <div class='donate-right'>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe src="https://donorbox.org/embed/donate-to-ebdsa?default_interval=m&amount=15" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
  </div>
</div>
