<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Fight the Billionaires - Fund East Bay DSA</h1>
</div>

<div id="donate">
  <div class='donate-left'>
    <p>Support the socialist movement by contributing monthly dues to East Bay DSA!</p>

    <p>We're a democratic organization run and funded by our members. Whether it's strike support, canvassing, membership meetings, or educational events, your support makes our organizing possible.</p>

    <p><b>East Bay DSA is campaigning with Oakland School Board candidate Sasha Ritzie-Hernandez to take power back from the billionaire-backed charter schools.</b> When you sign up to be a local dues paying member, we can organize and win more class-struggle elections.</p>

    <p>If you would like to change the amount you currently send to DSA, please visit the donorbox portal <a href="https://donorbox.org/user_session/new">here</a>.</p>

    <p><em>We are a 501(c)(4) organization so your donation is not tax-deductible.</em></p>
  </div>

<div>
  <button onclick="location.href='https://donorbox.org/donate-to-ebdsa?default_interval=m&amount=18.65'" class="button button-primary" type="button"> Local Dues </button>
  <button onclick="location.href='https://act.dsausa.org/donate/donation?source=East_Bay'" class="button button-primary" type="button"> National Dues </button>
</div>
