<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Donate to East Bay DSA</h1>
</div>

<div id="donate">
  <div class='donate-left'>
    <p>
    We need your financial support to keep building a socialist movement in the East Bay.
    Whether it's strike support, canvassing, membership meetings, or educational events,
    your contributions make our organizing possible.</p>

    <p>
      <em>
        East Bay DSA relies on donations to do its work, but donating isn't the same as
        joining. To join the Democratic Socialists of America, please sign up at
        <a href="https://dsausa.org/join">dsausa.org/join</a>
      </em>
    </p>
    <p>&nbsp;</p>
  </div>

  <div class='donate-right'>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe src="https://donorbox.org/embed/donate-to-ebdsa" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
  </div>
</div>
