<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Make a Pledge to East Bay DSA</h1>
</div>

<div id="donate">
  <div class='donate-left'>
    <p>Help fund the socialist movement by making a monthly pledge to East Bay DSA!</p>

    <p>We're a democratic organization run and funded by our members. Whether it's strike support, canvassing, membership meetings, or educational events, your support makes our organizing possible.</p>

    <p>We are trying to reach 150 monthly donors by 2020. Will you be one? Make a pledge today and help us fight for a world we all deserve.</p>

    <p><em>We are a 501(c)(4) organization so your donation is not tax-deductible.</em></p>
  </div>

  <div class='donate-right'>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe src="https://donorbox.org/embed/donate-to-ebdsa?default_interval=m&amount=15" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
  </div>
</div>
