<% content_for :title, 'Donate' %>

<div class='hero'>
  <h1>Fight the Billionaires - Fund East Bay DSA</h1>
</div>

<div id="donate">
  <div class='donate-left'>
    <p>Support the socialist movement by contributing monthly dues to East Bay DSA!</p>

    <p>We're a democratic organization run and funded by our members. Whether it's strike support, canvassing, membership meetings, or educational events, your support makes our organizing possible.</p>

    <p>Our goal is to reach 300 monthly donors by the end of 2023. Will you be one? Sign up today and help us fight for a world we all deserve.</p>

    <p>If you would like to change the amount you currently send to DSA, please visit the donorbox portal <a href="https://donorbox.org/user_session/new">here</a>.</p>

    <p><em>We are a 501(c)(4) organization so your donation is not tax-deductible.</em></p>
  </div>

  <div class='donate-right'>
    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <iframe src="https://donorbox.org/embed/donate-to-ebdsa?default_interval=m&amount=15" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
  </div>
</div>
