<div class="simple-calendar">
  <div class="table table-striped">
    <div class="table-head">
      <ul class="days">
        <% date_range.slice(0, 7).each do |day| %>
          <li class="day"><%= t('date.day_names')[day.wday] %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <% date_range.each_slice(7) do |week| %>
        <ul class="days">
          <% week.each do |day| %>
            <%= content_tag :li , class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
