// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';
@import 'activeadmin_sortable_table';
@import 'trix';
//@import 'activeadmin/quill_editor_input';
@import 'activeadmin/quill_editor/quill.snow';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.attributes_table .attachment {
  text-align: center;
}

article.content {
  max-width: 600px;

  img {
    width: 100%;
    height: auto;
  }
}

fieldset.inputs .input {
  clear: both;
}

.trix-editor-wrapper {
  width: 800px;
  float: left;
}

trix-editor {
  background: white;
}

// Adapted from activeadmin/_quill_editor_input.sass
// https://github.com/blocknotes/activeadmin_quill_editor/blob/master/app/assets/stylesheets/activeadmin/_quill_editor_input.sass
body.active_admin form .quill-editor {
  display: inline-block;
  width: calc(80% - 22px);
  .ql-editor {
    background-color: #fff;
    max-height: 300px;
    min-height: 150px;
    padding: 10px;
    // reset internal elements
    p {
      margin-bottom: 1em;
    }
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    ul, ol {
      margin: 0 1.5em 1.5em 0;
      padding-left: 1.5em;
    }
  }
}
