@import 'variables';

body {
  color: $text_color;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a {
  color: $dsa_red;
  text-decoration: none;
}

@font-face {
  font-family: 'ManifoldDSA';
  src: font-url('ManifoldDSA-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ManifoldDSA';
  src: font-url('ManifoldDSA-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,ul,ol {
  color: $dsa_black;
  font-family: 'ManifoldDSA';
  margin: 0;
  padding: 0;
}
