@import 'variables_and_mixins';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: $text_color;
  font-family: 'ManifoldDSA', "Helvetica Neue", Arial, Sans-Serif;
  font-size: $default_font_size;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'ManifoldDSA';
  font-weight: bold;
  font-style: normal;
  src: font-url('ManifoldDSA-ExtraBold.eot');
  src: font-url('ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype'),font-url('ManifoldDSA-ExtraBold.woff2') format('woff2'),font-url('ManifoldDSA-ExtraBold.woff') format('woff'),font-url('ManifoldDSA-ExtraBold.ttf') format('truetype');
}
 
@font-face {
  font-family: 'ManifoldDSA';
  font-weight: normal;
  font-style: normal;
  src: font-url('ManifoldDSA-Medium.eot');
  src: font-url('ManifoldDSA-Medium.eot?#iefix') format('embedded-opentype'),font-url('ManifoldDSA-Medium.woff2') format('woff2'),font-url('ManifoldDSA-Medium.woff') format('woff'),font-url('ManifoldDSA-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ManifoldDSA';
  font-weight: 300;
  font-style: normal;
  src: font-url('ManifoldDSA-Light.eot');
  src: font-url('ManifoldDSA-Light.eot?#iefix') format('embedded-opentype'),font-url('ManifoldDSA-Light.woff2') format('woff2'),font-url('ManifoldDSA-Light.woff') format('woff'),font-url('ManifoldDSA-Light.ttf') format('truetype');
}
