// Colors
$dsa_red: #ed2c24;
$dsa_purple: #3b2462;
$dark_grey_bg: #353b40;
$text_color: #444;
$light_text_color: #888;

// Layout
$largest_width: calc(100% - 100px);
$max_width: 750px;
$tablet_break_point: 768px;
$mobile_break_point: 500px;
$default_spacing: 20px;
$extra_spacing: 30px;
$compact_spacing: 10px;
$text_indent: 30px;

// Sizes
$small_font_size: 14px;
$default_font_size: 18px;
$h1_font_size: 42px;
$h2_font_size: 32px;
$h3_font_size: 24px;

// Old variables before visual redesign:
$dsa_dark_red: #ea2127;
$dsa_dark_purple: #3b2462;
$dsa_blue: #009aaf;
$dsa_light_blue: #b5dbdc;
$dsa_black: #272822;
$dsa_white: #ffffff;
$dsa_grey: #353b40;
$mid_grey_background: #bbb;
$grey_background: #e3e3e3;
$border_color: #e3e3e3;

@mixin button {
  display: inline-block;
  background: $dsa_white;
  border: 1px solid $dsa_red;
  padding: 11.5px 20px 11.5px;
  text-align: center;
  text-decoration: none;
  font-size: $default_font_size;
  height: 50px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    text-decoration: underline;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  }

  &.button-primary {
    color: #fff;
    background: $dsa_red;
    border: none;
  }

  &.button-secondary {
    color: #fff;
    background: $dsa_purple;
    border: none;
  }

  &.button-lg {
    font-size: $h3_font_size;
    padding: 8px 20px;
  }
}

@mixin button-primary {
  @include button;

  color: #fff;
  background: $dsa_red;
  border: none;
}
