// Colors
$dsa_red: #EC1F27;
$dsa_black: #231F20;
$dsa_white: #FFFFFF;
$dsa_grey: #272822;
$text-color: #444;
$light-text-color: #888;

$text_color: #515151;
$light_text_color: #858585;
$grey_background: #E3E3E3;
$border_color: $grey_background;

// Layout
$default_spacing: 30px;
$compact_spacing: 10px;

// Sizes
$default_font_size: 15px;
$large_font_size: 20px;
