// Colors
$dsa_red: #EA2127;
$dsa_dark_red: #EA2127;
$dsa_purple: #800080;
$dsa_dark_purple: #3B2462;
$dsa_blue: #009AAF;
$dsa_light_blue: #B5DBDC;
$dsa_black: #272822;
$dsa_white: #FFFFFF;
$dsa_grey: #353B40;
$text_color: #515151;
$light_text_color: #888;
$mid_grey_background: #BBB;
$grey_background: #E3E3E3;
$border_color: $grey_background;

// Layout
$default_spacing: 30px;
$compact_spacing: 10px;

// Sizes
$small_font_size: 12px;
$default_font_size: 15px;
$large_font_size: 20px;
$heading_font_size: 30px;
$hero_font_size: 50px;

$max_width: 1100px;
