@import 'variables';
#news h1 {
  padding-bottom: $default_spacing;
  border-bottom: 1px solid $border_color;
  margin-bottom: $default_spacing * 2;
}

.blog-post__header {
  padding-bottom: $default_spacing;
  border-bottom: 1px solid $border_color;
  margin-bottom: $default_spacing;
}

.blog-post__posted-at {
  margin-top: $default_spacing;
  font-style: italic;
  color: $light_text_color;
}

.blog-post__snippet {
  margin-bottom: 40px;
}

.blog-post__header-snippet {
  padding-bottom: $compact_spacing;
  border-bottom: 1px solid $border_color;
  margin-bottom: $compact_spacing;
}

.blog-post__posted-at-snippet {
  margin-top: $compact_spacing;
  font-style: italic;
  color: $light_text_color;
}
