@import 'variables_and_mixins';

.card-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $default_spacing;
}

.card-link {
  background: $dsa_dark_purple;
  color: white;
  display: flex;
  flex-direction: column;
  padding: $default_spacing;
  margin-bottom: $default_spacing;
  text-decoration: none;
  width: 48%;
  .title { text-decoration: underline; }
  .subtitle { margin-top: 8px; }

  &:nth-child(4n),
  &:nth-child(4n+1) {
    background: $dsa_red;
  }

  &:nth-child(2n+1) {
    margin-right: $default_spacing;
  }

  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
  &:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: $mobile_break_point) {
  .card-link {
    width: 100%;
    &:nth-child(2n+1) { margin-right: 0; }
  }
}
