@import 'variables_and_mixins';

.content {
  padding: $extra_spacing 0 50px;
}

/**
 * Trix previews attachments as centered, help the render match that.
 */
.content a[data-trix-attachment] {
  text-align: center;
}

.content__centered {
  max-width: 700px;
  margin: 0 auto;
}

article {
  blockquote {
    border-left: 4px solid $border_color;
    margin-left: $default_spacing/2;
    padding-left: $default_spacing;
  }

  ul, ol {
    margin-left: $default_spacing/2;
    list-style-position: inside;
  }

  figure {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}
