@import 'variables_and_mixins';

.content {
  padding: $extra_spacing 0 50px;
}

.hidden-mobile {
  display: block;
}
.visible-mobile {
  display: none;
}

@media (max-width: $tablet_break_point) {
  .hidden-mobile {
    display: none;
  }
  .visible-mobile {
    display: block;
  }
}

/**
 * Trix previews attachments as centered, help the render match that.
 */
.content a[data-trix-attachment] {
  text-align: center;
}

article {
  blockquote {
    border-left: 4px solid $border_color;
    margin-left: $default_spacing/2;
    padding-left: $default_spacing;
  }

  ul,
  ol {
    margin-left: $default_spacing/2;
    list-style-position: inside;
  }

  figure {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .ql-video {
    // 16:9 ratio
    width: 600px;
    height: 338px;
  }
}
