@import 'variables';

.container {
  padding: 0 $default_spacing;
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  flex: 1;
}

.container--flex {
  @extend .container;

  display: flex;
  align-items: center;
}

.container--flex-between {
  @extend .container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
