@import 'variables_and_mixins';

#calendar-filter {
  select {
    min-width: 200px;
  }
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $default_spacing;

  a {
    font-size: $h2_font_size;
  }
}

.calendar-title {
  font-size: $h2_font_size;
}

#calendar-filter label {
  display: inline-block;
  background: #ececec;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 4px;
}

// Style simple-calendar markup
.simple-calendar {
  padding-top: $default_spacing;
  @media (min-width: $max-width + 100px) {
    width: $largest_width;
    margin: 0 auto;
  }

  .day {
    min-height: 80px;
    height: auto;
  }
  .today {
    background: none;
    .simple-calendar--date {
      background: $dsa_dark_red;
    }
  }

  .past {
    .simple-calendar--date {
      background: $mid_grey_background;
    }
  }

  .prev-month {
    background: $grey_background;
  }
  .next-month {
    background: $grey_background;
  }

  .days {
    display: flex;
    border-left: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    margin: 0;
    padding: 0;
  }

  .day {
    list-style: none;
    flex: 1;
    border-right: 1px solid $border_color;
    padding: 6px;
  }

  .table-head {
    .days {
      border: none;
    }

    .day {
      background-color: $dsa_red;
      border: none;
      color: $dsa_white;
      font-weight: normal;
      font-size: $small_font_size;
      min-height: 0;
      padding: 12px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.simple-calendar--date-wrapper {
  display: flex;
  justify-content: flex-end;
}

.simple-calendar--date {
  background: $dsa_black;
  color: $dsa_white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: $small_font_size;
  line-height: 1;
  width: 20px;
  height: 20px;
}

.simple-calendar--events {
  font-size: 13px;

  .simple-calendar--events--event {
    border-left: 5px solid $dsa_light_blue;
    display: block;
    padding: 3px 0 3px 5px;

    &:hover {
      border-color: $dsa_red;
    }
  }

  .simple-calendar--events--event-title {
    color: $text_color;
  }

  .simple-calendar--events--event-time {
    color: $dsa_blue;
  }
}
