@import 'variables_and_mixins';

.flash {
  padding: $compact_spacing;
  background: $mid_grey_background;
  margin-bottom: $default_spacing;
  color: $dsa_white;
}

.flash__success { background: #22A01F; }
.flash__info { background: $dsa_blue; }
.flash__error { background: #E8C054; }
