@import 'variables';

.footer {
  background: #eee;
}

.footer__contact {
  background: $dsa_red;
  color: $dsa_white;
  font-size: $large_font_size;
  padding: $default_spacing/2 0;

  a { color: $dsa_white; }
}

.footer__newsletter {
  background: white;
  border-bottom: 3px solid $dsa_red;
  font-size: $large_font_size;
  padding: $default_spacing/2 0;
  text-align: center;
}

.footer__extra {
  padding: $default_spacing/2 0;
  color: $light-text-color;
  text-align: center;
}

.footer__links {
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    display: flex;
}
.footer__link {
    margin-top: $default_spacing/2;
    margin-left: $default_spacing/2;
    padding-bottom: $default_spacing/2;
    border-bottom: 4px solid transparent;
}