@import 'variables';

.footer {
  background: $dsa_grey;
  color: #D7D7D7;
  padding: 50px 0;

  a { color: #D7D7D7; }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .footer__menu { flex: 25%; }
  .footer__info { flex: 75%; }

  @media (max-width: $mobile_break_point) {
    .container { flex-direction: column; }
  }
}
