@import 'variables';

.header {
  background: $dsa_red;

  a { color: white; }

  .container {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: 10px;
    height: 65px;
    width: auto;
  }

  .header__menu {
    list-style: none;
    display: flex;
    margin: 0
  }

  .header__menu_item { margin-left: $extra_spacing; }
}
