@import 'variables_and_mixins';

.header {
  background: $dsa_red;
  font-size: $nav_font_size;

  a { color: white; }

  .container {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: 15px;
    height: auto;
    width: 220px;
    margin-bottom: -5px;

    @media (max-width: $tablet_break_point) {
      width: 180px;
    }
  }

  .header__menu {
    width: #{$max_width - 274};
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      @media (min-width: $mobile_break_point) {
        &.bernie a {
          background: white;
          color: red;
          padding: 8px 10px;
          margin: -8px -5px;
        }
      }
    }
  }
  .hamburger { display: none; }

  @media (max-width: $mobile_break_point) {
    .container {
      padding-top: $compact_spacing;
      padding-bottom: $compact_spacing;
      height: auto;
      display: block;
    }

    .header__menu {
      margin: 0;
      width: auto;
      text-align: left;
      li {
        display: block;
        margin: 3px 0;
      }

      // animate entrance/exit
      max-height: 0;
      transition: max-height 0.5s;
      overflow: hidden;
      &.show { max-height: 300px; }
    }

    .hamburger {
      background: transparent;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: inline;
      float: right;
      font-size: 25px;
      margin-top: 8px;
      opacity: 0.9;
    }
  }
}

#banner {
  padding: 20px 0;
  background-color: rgb(250, 212, 52);
}
