@import 'variables_and_mixins';

.header {
  background: $dsa_red;

  a { color: white; }

  .container {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin-right: 20px;
    height: auto;
    width: 274px;
    margin-bottom: -5px;

    @media (max-width: $tablet_break_point) {
      width: 200px;
    }
  }

  ul.header__menu {
    width: #{$max_width - 274};
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  .hamburger { display: none; }

  @media (max-width: $mobile_break_point) {
    .container {
      padding-top: $compact_spacing;
      padding-bottom: $compact_spacing;
      height: auto;
      display: block;
    }

    ul.header__menu {
      margin: 0;
      width: auto;
      text-align: left;
      li {
        display: block;
        margin: 3px 0;
      }

      // animate entrance/exit
      max-height: 0;
      transition: max-height 0.5s;
      overflow: hidden;
      &.show { max-height: 300px; }
    }

    .hamburger {
      display: inline;
      float: right;
      font-size: 25px;
      margin-top: 8px;
      opacity: 0.9;
    }
  }
}
