@import "variables_and_mixins";

.home-container {
  width: 95%;
  max-width: 1200px;
  padding: 0;

  @media (max-width: 600px) {
    width: 90%;
  }

  @media (min-width: 600px) {
    width: 80%;
  }
}

#home-hero {
  position: relative;
  background-color: $dsa_red;
  color: $text-color;
  text-shadow: none;
  margin-top: -30px;
  padding-bottom: 0;
}

#home-hero-content {
  @media (max-width: 600px) {
    padding: 18px;
    padding: $default-spacing;

    h1 {
      font-size: 26px;
    }
  }

  p {
    margin-bottom: $default-spacing;
  }

  background: white;
  max-width: 550px;
  padding: $default_spacing * 2;
  border-top: $dsa_red solid 25px;
  font-size: 20px;
  margin-bottom: -30px;

  h1 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: $default_spacing * 1.5;
    strong {
      color: $dsa_red;
      font-weight: bold;
    }
  }
}

#home-cta {
  @include wide-container;
  background: $dsa_red;

  @media (min-width: 1110px) {
    #home-newsletter {
      display: flex;
      align-items: center;
      flex: auto;

      form {
        margin-left: $default-spacing * 2;
      }
    }
  }
}

#majority-homepage-full {
  @include wide-container;
  background: $dsa_dark_purple;

  @media (min-width: 1110px) {
    #majority-homepage-content {
      display: flex;
      align-items: center;
      flex: auto;
    }
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
  a.cta-expanded {
    margin-top: 2rem;
  }
}

#campaigns {
  color: white;
  margin-bottom: $default-spacing;

  @media (min-width: 860px) {
    display: flex;
  }

  .campaign {
    background-size: cover;
    text-shadow: 1px 0 0 black;
    text-decoration: none;
    padding-top: 300px;
    flex: 1;
    display: flex;
    margin-left: -6%;
    margin-right: -6%;

    @media (min-width: 860px) {
      margin: 0;
    }
  }

  a {
    color: white;
  }

  .campaign-link {
   text-decoration: none;

   h3 {
     font-size: 40px;
   }

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .campaign-content {
    background: $dsa_purple;
    padding: $default-spacing;
    margin-left: -6%;
    margin-right: -6%;
    margin-bottom: $default-spacing;

    @media (min-width: 860px) {
      margin: 0 0 $default-spacing 0;
    }
}

  #campaign-bernie {
    background-image: image-url("campaign-bernie.jpg");
    background-position: center right;
    min-height: 500px;
  }

  #campaign-night-school {
    background-image: image-url("campaign-night-school.jpg");
    @media (min-width: 860px) {
      margin-left: 10px;
    }
  }
}
.centered-content {
  text-align: center;
}

// .campaigns-addendum {
//   background: #419143; // bread for ed color
//   padding: $default-spacing * 1.5 $default-spacing * 1.5;
//   color: white;
//   font-size: 24px;
//   margin-bottom: $default-spacing;
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//
//   span {
//     margin-right: $default-spacing;
//     margin: $default-spacing/2 $default-spacing $default-spacing/2 0;
//   }
//
//   a {
//     margin-top: $default-spacing/2;
//   }
// }

.home-content, .majority-title {
  h1 {
    color: $dsa_purple;
    display: inline-block;
    font-weight: bold;
    margin-top: $default-spacing;
    margin-bottom: $default-spacing * 1.5;
  }
}

.home-columns {
  display: flex;

  > div {
    flex: 1;
  }
}

#home-news, #home-highlighted {
  margin-bottom: 30px;

  @media (min-width: 960px) {
    #homepage-posts, #homepage-campaigns {
      display: flex;
    }

    .homepage-post {
      margin-right: 40px;
    }

  }

  .homepage-post {
    flex: 1;
    border-left: 10px solid $dsa_red;
    padding-left: 25px;
  }
}

#homepage-campaigns {
  flex-wrap: wrap;
  margin-bottom: 20px;

  .homepage-campaign {
    position: relative;
    flex: 1;
    height: 375px;
    flex-basis: 50%;
    margin-bottom: 0;

    .background, .color-overlay, .background-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    } 

    .background-wrapper .background {
      background-size: cover;
      filter: grayscale(100%) brightness(150%) contrast(50%);  
    }

    .background-wrapper .color-overlay {
      opacity: 0.65;
    }

    .campaign-content {
      color: white;
      position: absolute;
      bottom: 0;
      padding: 20px;
    }

    p {
      margin-bottom: 1em;
    }

    strong {
      font-size: 1.7em;
      line-height: 1.9em;
    }
  }
}

#home-events {
  .homepage-event {
    flex: 1;
    display: flex;
    flex-direction: column;

    a {
      flex: 1;
      background: $dsa_red;
      color: white;
      display: block;
      padding: 25px;
      text-decoration: none;
      transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

      &:hover {
        background: $dsa_purple;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        text-decoration: underline;
      }
    }
  }

  @media (min-width: 720px) {
    #homepage-events {
      display: flex;
      flex-wrap: wrap;
    }

    .homepage-event {
      flex-basis: 50%;
      box-sizing: border-box;
      padding-right: 20px;
    }
  }

  @media (min-width: 960px) {

    .homepage-event {
      flex-basis: 33%;
    }
  }
}
