@import 'variables';

.subpages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $default_spacing;
}

.subpages--subpage {
  background: $dsa_dark_purple;
  color: white;
  display: flex;
  font-size: $large_font_size;
  font-weight: bold;
  flex-direction: column;
  padding: $default_spacing/2;
  margin-bottom: $default_spacing;
  width: 48%;

  &:nth-child(4n),
  &:nth-child(4n+1) {
    background: $dsa_red;
  }

  &:hover {
    .subpages--subpage--link span {
      background-color: white;
      color: $text_color;
      text-decoration: none;
    }
  }
}

.subpages--subpage--link {
  font-weight: normal;
  margin-top: $default_spacing;
  text-decoration: underline;
}
