@import 'variables';

.signup {
  display: flex;
  align-items: center;
}

.signup__email {
  width: 100%;
  margin-right: $compact_spacing;
}


@media (max-width: 600px) {
  .signup { display: block; }
  .signup__email { margin-bottom: 9px; }
}
