@import 'variables_and_mixins';

h1, h2, h3, h4, h5, h6, p, ul, ol, article {
  margin-top: 0;
  margin-bottom: $default_spacing;
  line-height: 1.5;
  font-weight: normal;
}

p, h3, h4, h5, h6 { margin-bottom: $compact_spacing; }

h1 { font-size: $h1_font_size; }
h2 { font-size: $h2_font_size; }
h3 { font-size: $h3_font_size; }
h4 { font-size: $default_font_size; }
h5 { font-size: $default_font_size; }
h6 { font-size: $default_font_size; }

a { color: $dsa_red; }

article {
  li {
    margin-left: $default_spacing;
    line-height: 1.75;
    list-style-position: outside;
  }
}

.trix-output {
  line-height: 1.4em;
}

.text-center { text-align: center; }
.text-light { color: $light_text_color; }
