<%= render layout: 'layouts/base' do %>
  <div class='content'>
    <div class='container'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash flash__#{name}" %>
      <% end %>

      <%= yield %>
    </div>
  </div>
<% end %>
