<%= render layout: 'layouts/base' do %>
  <%= yield :before_content %>
  <div class='content'>
    <div class='container'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash flash__#{name}" %>
      <% end %>
    </div>

    <%= yield %>
  </div>
<% end %>
